.box-filter {
   width: 100%;
   height: auto;
   background-color: #fff;
   padding: 35px 45px 60px;
   position: relative;
   transition: all ease-out .3s;

   @include phone {
      padding: 0 18px 25px;
      max-height: 72px;
      overflow: hidden;
      background: transparent;

      &.open {
         min-height: 60px;

         .contents-filters {
            left: 0 !important;
         }

         .title-filter {
            background-color: #fff;
            position: fixed !important;
            top: 60px;
            left: 0;
            padding-left: 20px;
            padding-top: 20px;
         }
      }
   }
   
   .wrap-filter {
      .title-filter {
         i {
            margin-right: 18px;
            font-size: 2.5rem;
            color: var(--rosa);
         }

         font-family: "Nazare";
         font-weight: 500;
         font-size: 2.6rem;
         margin-bottom: 10.6rem;
         position: relative;

         @include phone {
            width: 60%;
            height: 75px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
         }

         .btn-close {
            display: none;

            @include phone {
               display: block;
            }

            i {
               font-size: 18px;
               position: absolute;
               right: 0;
               top: 35px;
            }
         }
      }

      .checkmark {
         border-color: #2c2c33;
      }
      
      .contents-filters {

         @include phone {
            position: fixed;
            left: -5000px;
            top: 135px;
            z-index: 5000;
            background-color: #fff;
            padding: 30px 15px;
            transition: all ease-out .3s;
            width: 60vw;
            height: 82vh;
            overflow-y: scroll;
         }
      }

      .content-filter {
         margin-bottom: 3.5rem;

         @include phone {
            margin-bottom: 10px;
         }

         h4 {
            color: var(--rosa);
            font-size: 2.6rem;
            margin-bottom: 3rem;

            @include phone {
               margin-bottom: 15px;
            }
         }

         .list-filters {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0;

            &.list-colunas {
               flex-direction: column;
            }

            li {
               margin-bottom: 2.8rem;
            }
         }
      }
   }
   
   .btn-search {
      @extend %btn-default;
      @extend %full-center;

      &:hover {
         background-color: var(--gray);
         color: #fff;
         border: 1px solid var(--gray);
      }
   }

   .error-warning {
      color: var(--rosa);
      font-weight: 500;
      margin-top: 10px;
      display: block;
   }
}
