.footer {
   background-color: var(--rosa);
   width: 100%;
   padding: 7rem 0 4rem;

   h3 {
      color: #fff;
      margin-top: 2rem;;
   }
   .copyright {
      // border-top: 1px solid #fff;
      margin-top: 3rem;
      padding-top: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-size: 1.2rem;

      @include phone { 
         flex-direction: column;
         font-size: 12px;
         text-align: center;
      }

      ul {
         display: flex;

         @include phone { 
            justify-content: center;
            text-align: center;
            margin-top: 20px;
         }
         
         li {
            position: relative;
            height: 20px;

            &:first-child {
               padding-right: 2rem;

               &::before {
                  content: '';
                  position: absolute;
                  right: 8px;
                  top: 0;
                  width: 1px;
                  height: 100%;
                  background-color: #fff;
               }
            }

            a {
               font-family: "Open Sans", sans-serif;
               font-weight: 300;

               &:hover {
                  color: inherit;
                  text-decoration: underline;
               }
            }
         }
      }

      .txt-copy {
         span{
            font-size: 1.8rem;
         }
      }
   }

   .content-footer {
      display: flex;
      justify-content: space-between;
      color: #fff;

      @include phone { 
         flex-direction: column;
         align-items: flex-start;
      }

      .col-esq {
         width: 46.4rem;
         margin-right: 1rem;

         .info-empresa {

            img {
               max-width: 292px;
            }
         }

         @include phone {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .info-empresa {
               width: 80%;
            }

            ul.explore {
               flex-direction: column;
               justify-content: flex-start;
               align-items: flex-start;
               width: 20%;
               text-align: left;

               li {
                  margin-right: 0;
               }
            }
         }

         p {
            font-size: 1.4rem;
            margin: 2rem 0;

            @include phone { 
               font-size: 12px;
               text-align: left;
            }
         }

         ul {
            font-size: 1.6rem;
            display: flex;

            @include phone { 
               justify-content: center;
            }

            li {
               margin-right: 2.5rem;

               &:last-child {
                  margin-right: 0;
               }
            }
         }
      }

      ul {
         margin-right: 7rem;

         &:last-child {
            margin-right: 0;
         }

         @include phone { 
            width: 48%;
            margin-right: 2%;
            text-align: left;

            &:last-child {
               margin-right: 0;
            }
         }

         h3 {
            font-size: 1.8rem;
            margin-bottom: 2.2rem;
            color: #fff;
         }

         &.explore > h3 {
            @include phone {
               padding-top: 7px;
            }
         }

         li {
            font-size: 1.4rem;
            margin-bottom: 1.6rem;

            &:last-child {
               margin-bottom: 0;
            }

            a {
               font-family: "Open Sans", sans-serif;
               font-weight: 300;

               &:hover {
                  color: #fff;
                  text-decoration: underline;
               }
            }
         }

         &.endereco {

            @include phone { 
               width: 100%;
               margin-right: 0;
               margin-top: 0;
            }

            li {
               display: flex;
               align-items: flex-start;

               @include phone {
                  justify-content: flex-start;
               }

               .icon {
                  width: 10px;
                  margin-right: 12px;
               }

               p {
                  margin: 0;
               }
            }
         }
      }

      .col-dir {
         display: flex;
         justify-content: flex-end;
         width: 60%;

         @include phone { 
            width: 100%;
            flex-wrap: wrap;
            padding-top: 20px;
         }
      }
   }
}

.list-redes-sociais {
   display: flex;
   justify-content: center;
   width: 100% !important;
   margin-top: 20px;
   margin-bottom: 0;

   li {
      margin-right:  30px;

      &:last-child {
         margin-right: 0;
      }

      a {
         i {
            font-size: 20px;
         }
      }
   }
}

.btn-wpp-fixed {
   position: fixed;
   bottom: 25px;
   right: 25px;
}