.container-experiencias {
   background-color: var(--gray);
   height: 100vh;
   overflow: hidden;

   @include phone {
      padding: 0 15px;
      height: auto;

      .row {
         flex-direction: column;
         justify-content: flex-end;
         height: 100%;
      }
   }


   .col-filter {
      width: 35.37%;

      @include phone {
         width: 100%;
      }

      .txt-bora {
         @extend %full-center;
         width: 100%;
         height: 100vh;

         @include phone {
            height: auto;
            padding-top: 120px;
            padding-bottom: 60px;
         }

         h3 {
            color: var(--rosa);
            font-size: 7rem;
            width: 75%;

            @include phone {
               font-size: 40px;
               width: 90%;
               text-align: left;
            }
         }
      }
   }

   .col-imgs-experiencias {
      width: 64.63%;

      @include phone {
         width: 100%;
         padding: 0 15px;
      }
   }

   .grid-experiencias {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 100vh;

      @include phone {
         height: auto;
         flex-wrap: wrap;
      }

      .column {
         width: 25%;
         height: 100%;
         overflow: hidden;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;

         @include small-desktop {
            max-height: 92%;
         }
         
         @include notebooks {
            max-height: 92%;
         }

         @include phone {
            width: 46%;
         }
      }

      .column:nth-child(1), .column:nth-child(3) {
         .item {
            width: 100%;
            height: auto;

            max-height: 33%;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }

      .column:nth-child(2), .column:nth-child(4) {
         .item {
            width: 100%;
            height: auto;

            &:last-child {
               margin-bottom: 0;
            }
         }
      }

      .column:nth-child(1) {
         height: 90%;
      }

      .column:nth-child(2) {
         height: 90%;
      }

      .column:nth-child(3) {
         height: 90%;
      }

      .item {
         margin-bottom: 10px;
         position: relative;
         overflow: hidden;

         img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center center;

            transition: all ease-out .3s;
         }

         &:hover {
            .hover { 
               opacity: 1;
            }

            img {
               transform: scale(1.2, 1.2);
               -ms-transform: scale(1.2, 1.2);
               -webkit-transform: scale(1.2, 1.2);
            }
         }

         .hover {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: #fff;
            padding: 15px;
            text-align: center;

            transition: all ease-out .3s;

            @include phone {
               opacity: 1;
               height: 40%;
               bottom: 0;
               top: inherit;
               font-size: 1.7rem;
               background-color: rgba(0,0,0,.7);
            }
         }
      }
   }
}

.container-experiencias-filtrar {
   background-color: var(--gray);
   height: 100vh;
   overflow: hidden;

   @include phone {
      height: auto;
   }

   .row {
      align-items: flex-start;
      justify-content: center;
      height: 100%;

      .col-filter {
         width: 51%;
         height: 100%;
         color: #fff;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 0.4fr 2.4fr 0.2fr;
         gap: 0px 0px;
         grid-template-areas: "." "form-personalizacao" ".";

         @include phone {
            width: 100%;
         }
      }

      .col-imgs-experiencias {
         width: 48.22%;
         height: 100%;
         display: flex;
         align-items: flex-end;

         @include phone {
            width: 100%;
         }

         img {
            width: 100%;
            height: auto;
         }
      }
   }
}

.page-intercambio-voluntario {

   .box-price {
      
      @include phone {
         max-width: 250px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-content: center;
         margin-top: 35px;
         max-width: 100%;
         width: 90%;
      }
   }

   .btn-fale-conosco {
      width: 370px;
      height: 55px;
      background-color: var(--rosa);
      color: #fff;
      font-size: 2.6rem;
      @extend %full-center;

      &:hover {
         background-color: var(--gray);
      }

      @include phone {
         width: 100%;
      }
   }
   
   .call-to-action {
      font-size: 4.8rem;
      line-height: 4.8rem;
      color: #fff;
      font-family: "Nazare";
      font-weight: 700;
   }
   
   .box-fale-conosco {
      a {
         font-size: 1.6rem !important;
         width: 32rem !important;

         &:hover {
            background-color: var(--gray);
         }
      }
   }

   .schedule-days {
      margin-bottom: 12rem;
   }

   .blog {
      padding-bottom: 0;
   }
}

.row-personalizado {
   display: flex;

   @include phone {
      flex-direction: column;
   }
}

.row-tudo-viagem {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;

   @include phone {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
   }
}

.search-text {
   border-bottom: 2px solid var(--gray);
   width: 95%;
   height: 60px;
   margin: 0 auto 6rem;
   position: relative;

   input {
      width: 100%;
      height: 60px;
      background: transparent;
      border: none;
      outline: transparent;
      font-size: 3rem;
   }

   .actions {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;

      .btn-search, .btn-close {
         font-size: 3rem;
         cursor: pointer;
      }

      .btn-search {
         margin-right: 2rem;
      }
   }

   .filter-advanced {
      margin-top: 1rem;
      cursor: pointer;
   }
}

.none_exp_found {
   font-size: 3rem;
   margin-bottom: 6rem;
   text-align: center;
   font-weight: 700;
}