@font-face {
   font-family: 'Nazare';
   src: url('/assets/fonts/Nazare-Light.woff2') format('woff2'),
       url('/assets/fonts/Nazare-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nazare Extra';
   src: url('/assets/fonts/Nazare-ExtraBold.woff2') format('woff2'),
       url('/assets/fonts/Nazare-ExtraBold.woff') format('woff');
   font-weight: 800;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nazare';
   src: url('/assets/fonts/Nazare-Heavy.woff2') format('woff2'),
       url('/assets/fonts/Nazare-Heavy.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nazare';
   src: url('/assets/fonts/Nazare-Medium.woff2') format('woff2'),
       url('/assets/fonts/Nazare-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nazare Semi';
   src: url('/assets/fonts/Nazare-SemiBold.woff2') format('woff2'),
       url('/assets/fonts/Nazare-SemiBold.woff') format('woff');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Nazare';
   src: url('/assets/fonts/Nazare-Regular.woff2') format('woff2'),
       url('/assets/fonts/Nazare-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

